body {
	border: 0px;
  	margin: 8px;
	background-color:#E8EEF7;
}

/* -------------------------------------------------------------------------- */

.app-Info-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.app-Info-Frame {
	border: 0px;
	margin: 0px;
    width: 100%;
}